.leftt
{padding:10px 10px 10px 8px;
  
  display:inline-block;
  width:50%;
  clear:both;
  background-color: whitesmoke;
  border-right:2px inset lightslategray;
    
   
}
.Rightt
{
   margin-left: 0px;
   float: right;
  width:45%;
}
.TopUp
{
float:right;
}
.part4
{
padding:10px 15px 20px 0px;
font-size:14px;
}
.part3
{
padding:10px 15px 20px 0px;
font-size:14px;
}
.holidays
{
    float:right;
}
.holi
{
    display:inline;
   
}