.bc{
    width:9%;
    margin:10px;
    border-left:2px inset slategray;
     border-bottom:2px inset slategray;
      border-right:1px solid slategray;
       border-top:1px solid slategray;
    background-color: whitesmoke;
    
}
.bc:hover{
    border-color: green;
}
.bc:click
{
     border-color: green;
}