.a{
    width:12%;
    margin:10px 15px 10px 4px;
       padding: 0px 10px;
}
.b{
    width:12%;
    margin:10px 15px 10px 4px;
       
}
.c{
    width:10%;
    margin:10px 15px 10px 4px;
      
}
.d{
    width:13%;
    margin:10px 15px 10px 4px;
  
    
}
.e{
    width:14%;
    margin:10px 15px 10px 4px;
    
}
.f{
    width:9%;
    margin:10px 15px 10px 2px;
      
}
.Text6
{
    font-size: 14px;
    width:12%
}